{% extends "::base.html.twig" %}

{% block title %}WizinSimpleCmsBundle:Admin{% endblock %}

{% block body %}
    <h1>Create new content</h1>
    {{ form_start(form) }}
    {#- pathInfo -#}
    {{ form_label(form.pathInfo) }}
    {{ form_errors(form.pathInfo) }}
    {{ form_widget(form.pathInfo) }}
    {{ form_end(form) }}
{% endblock %}
